<div class="order-header">
    <span class="order-header-name">הזמנה מסי 4332-14-234</span>

    <button>
      <img src="../../../../assets/icons/arrow_right.svg" alt="">
      <span>חזרה לעמוד פרויקט</span>

    </button>
</div>
<div class="order-details">
  <div>
    <span class="order-details-header">סטטוס</span>
    <span >בהובלה</span>
  </div>
  <div class="vertical-line"></div>

  <div>
    <span class="order-details-header">שלב ההזמנה</span>
    <span>הזמנה</span>
  </div>
  <div class="vertical-line"></div>

  <div>
    <span class="order-details-header">נפח המכולה</span>
    <span>20 קו"ב</span>
  </div>
  <div class="vertical-line"></div>

  <div>
    <span class="order-details-header">קבלן פינוי</span>
    <span>קבלן הפינויים בע"מ</span>
  </div>
  <div class="vertical-line"></div>

  <div>
    <span class="order-details-header">יזם</span>
    <span>יזם היזמים בע"מ</span>
  </div>
  <div class="vertical-line"></div>

  <div>
    <span class="order-details-header">כתובת הפרויקט</span>
    <span class="order-details-status">רחבעם זאבי 14, קרית אונו</span>
  </div>

</div>
