.order-header-name {
    font-size: 20px;
    font-weight: 600;
}

.order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    & button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 1px solid #000;
        cursor: pointer;
        padding: 0 10px;
        border-radius: 4px;

        & span {
            margin-right: 5px;
        }
    }

    & button:hover {
        background-color: #e0e0e0;
    }

}

.order-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // margin: 0 16px;
    padding: 24px 20px;
    background-color: #E9E9E9;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;

    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-header {
        color: gray;
    }

    & span {
        font-weight: 500;
    }

    &-status {
        padding: 0 5px;
        background-color: #F1DD84;
        border-radius: 4px;
    }
}

.vertical-line {
    width: 2px;
    height: 30px;
    background-color: #fff;
}