<div fxLayout="row"  >
  <div class="container"  fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
      <div class="number"  >
        <span style="justify-content: center">18</span>
      </div>

      <div class="text">
        <span style="justify-content: center">באתר</span>
      </div>
    </div>
  </div>
  <div class="container"  fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
      <div class="number"  >
        <span style="justify-content: center">18</span>
      </div>

      <div class="text">
        <span style="justify-content: center">באתר</span>
      </div>
    </div>
  </div>
  <div class="container"  fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
      <div class="number"  >
        <span style="justify-content: center">18</span>
      </div>

      <div class="text">
        <span style="justify-content: center">באתר</span>
      </div>
    </div>
  </div>
  <div class="container"  fxLayout="column" fxLayoutAlign="center center">
    <div class="card">
      <div class="number"  >
        <span style="justify-content: center">18</span>
      </div>

      <div class="text">
        <span style="justify-content: center">באתר</span>
      </div>
    </div>
  </div>
</div>



<!--<div fxLayout="row" *ngIf="isMobile" >-->

<!--</div>-->
