<div class="main-container">
    <div class="desktop">
      <div class="sidebar" [class.sidebar-close]="!openSidebar">
        <div *ngIf="!openSidebar" class="mobile_logo" (click)="openSidebar = !openSidebar"><strong>X</strong></div>
        <div class="logo-details">
          <div *ngIf="openSidebar" class="logo" (click)="openSidebar = !openSidebar">
            <img src="assets/icons/logo_sidebar.png" alt="">
          </div>

          <div *ngIf="openSidebar" class="logo-description">
            <span class="info_logo">ערב טוב,</span>
            <span class="info_logo">ישראל מ. ישראלי</span>
            <span class="address_logo">יזם|ח.פ 38874</span>
          </div>
         
        </div>
        <ul class="nav-links" id="nav-links"  [ngStyle]="openSidebar ? { 'display': 'block', 'padding': '0 30px'} : {'display': 'flex', 'justify-content': 'center', 'flex-direction': 'column',  'padding': '0'}">
          <li *ngFor="let item of navItems; let isFirst = first" [ngClass]="{'showMenu': (itemEl.classList.contains('active'))}" #itemEl routerLinkActive="active">
            <div class="dropdown-title" >
              <a [routerLink]="[item.path]" [ngStyle]="{'padding': isFirst ? '0px': '5px'}">
                <img src="{{item.iconSrc}}" [ngStyle]="{'margin-left': openSidebar ? '5px' : '0'}" class="link_icon">
                <span *ngIf="openSidebar" class="link_name">{{
                  item.link_name
                }}</span>
              </a>
            </div>
            
          </li>
        </ul>

        

        <div *ngIf="openSidebar" class="settings">
            <a href="#">התנתק מהמערכת</a>
        </div>
      </div>
      <section class="home-section text-white" [class.mobile]="isMobile">
          <router-outlet></router-outlet>
      </section>
    </div>
  </div>
  
<!--<app-login></app-login>-->
