<!--<mat-sidenav-container class="sidenav-container" dir="rtl">-->
<!--  <mat-sidenav #sidenav mode="over" opened>-->
<!--    <mat-nav-list>-->
<!--      <mat-list-item (click)="closeSidenav()">Menu Item 1</mat-list-item>-->
<!--      <mat-list-item (click)="closeSidenav()">Menu Item 2</mat-list-item>-->
<!--      <mat-list-item (click)="closeSidenav()">Menu Item 3</mat-list-item>-->
<!--      <mat-list-item (click)="closeSidenav()">Menu Item 4</mat-list-item>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar color="primary">-->
<!--      <button mat-icon-button (click)="sidenav.toggle()">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
<!--      <span>My Responsive Project</span>-->
<!--    </mat-toolbar>-->



<!--    <div class="content">-->
<!--      //router goes here-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<router-outlet></router-outlet>

<!--<app-login></app-login>-->
