body {
  background-color: #E8EDEE;
  /* Light gray background */
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  /* Gap between columns */
}

.column {
  //background-color: #ffffff; /* White background for columns */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Gap between rows */
}

.statsRow {
  border: 1px solid #ccc;
  /* Border for rows */
  //background-color: white;
  gap: 70px
}

.row {
  //background-color: #e0e0e0; /* Light gray background for rows */
  border: 1px solid #ccc;
  /* Border for rows */
  gap: 20px
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



.rightContainer {
  height: 100%
}

.toolbar {
  display: flex;
  justify-content: end;
  padding: 10px;
  // margin-top: 100px;
  // margin-bottom: 50px;
}


.order-header-name {
  font-size: 20px;
  font-weight: 700;
}

.order-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  & button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 4px;

    & span {
      margin-right: 5px;
    }
  }

  & button:hover {
    background-color: #e0e0e0;
  }

}

.order-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #EFEFEF;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-header {
    color: gray;
  }

  &-status {
    background-color: #F1DD84;
  }
}

.vertical-line {
  width: 2px;
  height: 30px;
  background-color: #fff;
}


//
//.card {
//  background-color: white;
//  border-radius: 8px;
//  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  width: 200px;
//  height: 100px;
//  padding: 16px;
//  box-sizing: border-box;
//}
//
//.number {
//  font-size: 48px;
//  color: #4caf50; /* Green color */
//  margin: 0;
//}
//
//.text {
//  font-size: 18px;
//  color: #333;
//  margin: 0;
//}