<div class="stepper">
  <div class="stepper-wrapper">
    <mat-horizontal-stepper
      [linear]="false"
      #stepper
      [(selectedIndex)]="selectedIndex"
      class="{{ 'last-edited-step-' + stepper.selectedIndex }}"
    >
      <mat-step
        *ngFor="let step of steps; let i = index"
        [state]="step.state"
        [completed]="isStepCompleted(i)"
      >
        <ng-template matStepLabel>
          <div class="step-content">
            <img
              [src]="step.icon"
              alt="step icon"
              class="step-icon"
            />
            <div
              class="step-circle"
              [ngClass]="{
              'active': i === selectedIndex,
              'completed': step.completed
  
            }"
            >
              <mat-icon *ngIf="step.completed">check</mat-icon>
            </div>

            <div class="step-label">{{ step.label }}</div>
            <div class="step-sub-label">{{ step.subLabel }}</div>
          </div>
        </ng-template>
        <div>
          <app-step-info (submitStep)="submitStep($event, i)"></app-step-info>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </div>

</div>