@use '@angular/material' as mat;
@include mat.core();

$waste-theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette, A400, A100, A700);
$waste-theme-accent: mat.m2-define-palette(mat.$m2-indigo-palette);
$waste-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$waste-theme: mat.m2-define-light-theme((color: (primary: $waste-theme-primary,
        accent: $waste-theme-accent,
        warn: $waste-theme-warn,
      )));

@include mat.all-component-themes($waste-theme);
$typography: mat.m2-define-typography-config($font-family: 'Rubik, sans-serif',
    $headline-6: mat.m2-define-typography-level(20px, 32px, 600),
    $subtitle-2: mat.m2-define-typography-level(14px, 24px, 600),
    $button: mat.m2-define-typography-level(14px, 14px, 600),
    $body-1: mat.m2-define-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
  );

// Setup the typography
@include mat.all-component-typographies($typography);

// RTL support

body[dir="rtl"] {
  direction: rtl;
}



html,
body {
  font-family: "Rubik", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}