<mat-card  class="full-width card">
  <div class="card-header">
    <span class="card-header-info">0001) D-תעודת משלוח (הזמנה</span>
    <div class="card-header-description">
      <span>:סטטוס מכולה</span>
      <span class="card-header-description_status">ממתין לאישור הקבלן</span>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="שלב">
        <div class="card-body">
          <div class="card-body-details">
            <p class="card-body-title">פרטי הזמנה</p>
            <div class="card-body-info">
              <div class="card-body-info_list">
                <div class="card-body-info_list-item">
                  <span class="card-body-info_list-item-title">:תאריך הזמנה</span>
                  <span>10:44 בשעה   09/02/2024</span>
                </div>
                <div class="card-body-info_list-item card-body-info_list-item-alert">
                  <span class="card-body-info_list-item-title">:יוצר ההזמנה</span>
                  <span>ישראל ישראלי</span>
                </div>
                <div class="card-body-info_list-item">
                  <span class="card-body-info_list-item-title">:יזם</span>
                  <span>ישראל ישראלי</span>
                </div>
                <div class="card-body-info_list-item">
                  <span class="card-body-info_list-item-title">:שם פרויקט</span>
                  <span>בנייני ירוק זית</span>
                </div>
                <div class="card-body-info_list-item">
                  <span class="card-body-info_list-item-title">:כתובת למיקום המכולה</span>
                  <span>רחבעם זאבי 14, קריית אונו</span>
                </div>
                <div class="card-body-info_list-item">
                  <span class="card-body-info_list-item-title">:תאריך רצוי לקבלת המכולה</span>
                  <span>בין השעות 0:00-08:00ות</span>
                </div>
                <div class="card-body-info_list-item">
                  <span class="card-body-info_list-item-title">:קבלן מפתח</span>
                  <span>משה כהן</span>
                </div>
                <div class="card-body-info_list-item">
                  <span class="card-body-info_list-item-title">:הערות כלליות של המזמין</span>
                  <span>כאן ניתן להוסיף הערות כלליות להזמנה</span>
                </div>
              </div>
              <div>
                <button>
                  <img src="../../../../assets/icons/arrow_right.svg" alt="">
                  <span>עריכת הזמנה</span>
                </button>
              </div>
            </div>

            <div class="card-body-footer">
              <button class="cancel">ביטול הזמנה</button>

              <button mat-flat-button class="" color="primary" (click)="submit(true)">שליחת הזמנה לאישור קבלן הפינוי</button>
            </div>
  
          </div>

          <div class="vertical-line"></div>

          <div class="card-body-contacts">
            <p class="card-body-title">פרטי הובלה</p>

            <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption">
              <mat-radio-button value="1">Option 1</mat-radio-button>
              <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>      
            
            
            <div *ngIf="selectedOption === '1'" class="card-body-delivery">
              <p>ממתין לאישור הקבלן</p>
            </div>

            <div *ngIf="selectedOption === '2'" class="card-body-delivery_green">
              <p>ממתין לאישור הקבלן</p>
              <p>ממתין לאישור הקבלן</p>
            </div>

            <p class="card-body-title">אנשי קשר</p>

            <div class="card-body-contact">
              <p>:קבלן מפתח</p>

              <div>
                <button class="card-body-contact_btn">
                  <img src="../../../../assets/icons/Phone.svg" alt="">
                  
                  <div class="card-body-contact_btn-text">
                    <span>משה כהן</span>
                    <span>052-3462310</span>
                  </div>
                </button>
              </div>
            </div>

          </div>

        </div>
    </mat-tab>
    <mat-tab label="עדכונים">Content 2</mat-tab>
  </mat-tab-group>
</mat-card>
